<!DOCTYPE html>
<html>

<head>
    <title>oioioi</title>
    <link rel='stylesheet' href='/styles/main.css' />
</head>


<body>
    <main>
        <section>
            <form action="usuario" method="post">
                <input type="text" name="usuario[nome]" placeholder="Seu nome">
                <br>
                <input type="text" name="usuario[email]" placeholder="Seu Email">
                <br>
                <input type="password" name="usuario[senha]" placeholder="Sua senha">
                <br>
                <button type="submit" >Confirmar </button>
    
            </form>


    </main>

    <footer>
        <p> Versão </p>
    </footer>
</body>

</html>