<head>
    <link rel='stylesheet' href='../css/main.css' />

</head>

<header id="cabecalho">
    <nav id="menu">
        <ol>
            <li> <a href="index.html"> HOME </a> </li>
            <li id="btn_login"> <a href="login.html"> LOGIN </a> </li>
            <li id="btn_login"> <a href="/usuario"> SIGN IN </a> </li>
        </ol>
        <input type="text" name="Pesquisar" placeholder=" Pesquisar" id="txtFld_pesquisar" />
      <!--  <img src="_imagens/loupe.png">  AQUI VAI UM ONCLICK--> 
    </nav>
</header>