<!DOCTYPE html>
<html>

<head>
    <title> <%= title %></title>
   
</head>

<body>
    <main>
        <header>
            <!-- logo-->
            <nav>
                <ul>
                    <!--    <li> <a href="/curriculo"> Meu curriculo</a> -->
                   
                </ul>

            </nav>
            
            <a href="/mentions"> Login</a>
        </header>
      

    </main>

    <footer>
        <p> Versão <%= version %></p>
    </footer>
</body>

</html>