<!DOCTYPE html>
<html>

<head>
    <title>eitaa</title>
   
</head>

<body>
    <main>
        <header>
            <!-- logo-->
            <nav>
                <ul>
                    <!--    <li> <a href="/curriculo"> Meu curriculo</a> -->
                   
                </ul>

            </nav>
            
          
        </header>
      

    </main>

    <footer>
        <p> Versão </p> <!-- <%= version %>-->
    </footer>
</body>

</html>