<!DOCTYPE html>
<html>

<head>
    <title>oioioi</title>
    <link rel='stylesheet' href='/styles/main.css' />
</head>


<body>
    <main>
        <header>
            <!-- logo-->
            <nav>
                <ul>
                    <!--    <li> <a href="/curriculo"> Meu curriculo</a> -->
                    <p> aaaa a</p>
                </ul>

            </nav>


        </header>


    </main>

    <footer>
        <p> Versão </p>
    </footer>
</body>

</html>