<!DOCTYPE html>
<html>

<head>
    <title>Tehei</title>
    <link rel='stylesheet' href='../css/loginregister.css' />
    <link rel='stylesheet' href='../css/user.css' />
</head>

<body>

   <!-- <p> Bem-vindo <%- usuario.nome %> </p> -->
   <header id="cabecalho">
    <nav id="menu">
        <ol>
            <li> <a href="/"> HOME </a> </li>
            <li id="btn_login"> <a href="/usuario/login"> Sair </a> </li>
            <li > <a>  Bem - vindo </a> </li>
        </ol>
        
      <!--  <img src="_imagens/loupe.png">  AQUI VAI UM ONCLICK--> 
    </nav>
</header>



<footer>
    <p> Versão </p>
</footer>
</body>

</html>